name: Go lint central workflow

on:
  push:
    branches: ['*']
    paths:
      - '**.go'
      - 'go.*'
      - 'src/.errcheck-exclude'
      - '**/.golangci.yml'
      - '**/staticcheck.conf'
      - '.github/workflows/go-lint.yml'
  workflow_dispatch:

jobs:
  go-lint:
    steps:
      - name: Set up Go v1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Actually run the linter
        uses: folio-org/.github/.github/workflows/go-lint.yml@master
        with:
          errcheck-excludes-file: 'src/.errcheck-exclude'
          golangci-config-file: 'src/.golangci.yml'

